.profile-img {
    width: 150px;
    height: 150px;
}

.profile-img-divider {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    height: 30vh;
    margin-bottom: 10px;
}

.name {
    font-size: 24px;
    font-weight: 700;
    color: #444
}

.contact-value {
    --highlight-color-focused: #dedede;
}

toolbar {
    --background: transparent
}

ion-item>ion-label {
    text-transform: capitalize!important;
}

ion-item.item-has-focus>ion-label {
    color: #555 !important;
}